# IDEs
.idea/
.vscode/
*.swp
*.iml

# OS files
.DS_Store
Thumbs.db

# Environment variables (Root level)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
perf/env/cloud.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Docker / Persistence Data
**/data/
**/logs/
perf/k6/**/result/*.json
docs
!back/src/main/java/com/back/**/docs/
!back/src/main/java/com/back/**/docs/*.java
AGENTS.md
