# IDEs
.idea/
.vscode/
*.swp
*.iml

# OS files
.DS_Store
Thumbs.db

# Environment variables (Root level)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Docker / Persistence Data
**/data/
**/logs/
docs
AGENTS.md
